body {
  margin: 0;
}

.App {
  background: url(./img/bg.png) #000;
  background-size: cover;
  overflow: hidden;
}

@font-face {
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
}

.instructions {
  font-size: 10px;
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #fff;
}

.instructionsInner {
  flex: column;
}

.instructions-btn {
  font-size: 14px;
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
  margin: 10px;
  padding: 10px;
}